<div ng-controller="HomeCtrl as home">
	<h1>{{home.data.title}}</h1>
    <div>
        <form  role="form" novalidate="" name="number_form" method="POST" ng-submit="home.validateNumber(number_form.$valid)"  >
            <div class="form-field col-md-3">
                <div class="form-group ">
                    <label class="control-label">Enter a number between 25-100*:</label>
                    <input type="text" class="form-control" ng-model="home.attributes.numberField" name="number_field" ng-blur="home.validate()" ng-pattern="validation.pattern.number" id="number_field"  required>
                    <div class="m-t-xs text-danger" ng-show="number_form.number_field.$invalid && number_form.$submitted">
                        <span ng-if="number_form.number_field.$error.required" ng-bind="validation.message.required"></span>
                        <span ng-if="number_form.number_field.$error.pattern" ng-bind="validation.message.invalid"></span>
                    </div>
                    <div class="m-t-xs text-danger" ng-if="home.invalidNumber"><span class="m-t-xs text-danger">Number Should be between 25 to 100</span></div>
                 </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block col-md-3" type="submit" title="Login">Submit</button>
                </div>
             </div>
        </form>
    </div>
</div>